body{
    font-family: 'Open Sans', sans-serif;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-title{
    color: black;
    font-size: 45px;
    font-weight: 800;
}
.primary-color{
    color: #947863;    
}
.BTN-primary{
    background-color: #FD6E0A;
    border: none;
    color: white;
   padding: 18px 35px;
   border-radius: 5px;
   font-size: 20px;
   font-weight: 700;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    color: grey;
    text-decoration: none;
}
.header{
    background-color: #9d9693;
    background-image: url(/images/header_bg.png),url("/images/developer.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-position: top left;
}
.banner{   
    padding: 30px 30px 0px 150px;
    display: flex;
    justify-content: space-between;
}
.banner-greeting{
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    color: #474747;
    margin-bottom: 0px;
}
.banner-title{
    padding: 2px;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
}
.banner-description{
    padding: 1px;
}
.banner-content{
    max-width: 500px;
}
.section-title{
    text-align: center;
    color: black;
    font-size: 35px;
    font-weight: 700px;
    
}
.about{
    padding:130px ;
    background-color: #a77856;
    border-radius: 10px;
    margin: 130px 0px;
    margin: 0px auto;
}
.me{
    display: flex;
    align-items: center;
    text-align: center;
}
.section-description{
    color: #746e6e;
    text-align: center;
    font-size: 18px; 
    
}
main{
    max-width: 1140px;
    margin: 0px auto;
}
main section{
    margin-top: 130px;
}
.about-info-container{
    display: flex;
    justify-content: space-between;
}
.about-info{
    text-align: center;
}
#what-i-do{
    padding: 30px 150px;
}
.skills-container{
    display: flex;
    gap: 24px;
    
}
.skill{
    padding: 30px;
    border-radius: 5px;
    background: #dc6e1f;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.06);
}
.skills-description{
    color: #757575;
}
.parent{
    display: flex;
    gap: 24px;
}
.child1{
    background-color:orangered;
    border-radius: 5px;
    padding: 30px;
  
}
.child2{
    background-color: orangered;
    border-radius: 5px;
    padding: 30px;
}
.btn2{
    background-color: #FD6E0A;
    border: none;
    color: white;
   padding: 18px 35px;
   border-radius: 5px;
   font-size: 20px;
   font-weight: 700;
   align-items: center;
}
.download-cv{
    text-align: center;
    padding: 20px;
}
.lr-description{
    text-align: center;
}
.left-right{
    display: flex;
    background-color: rgb(145, 129, 68);
    padding: 130px 200px;
    gap: 180px;
}
.Contact input,textarea{
    display: block;
    padding: 18px 35px;
    margin-bottom: 25px;
    color: #757575;
    border-radius: 10px;
    border: 0px;
}
. 

